body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    resize: none;
    font-size: 14px;
}

#counter {
    margin-top: 10px;
    font-weight: bold;
}

/* Warning when limit is near */
.warning {
    color: orange;
}

/* Limit reached */
.danger {
    color: red;
}
